.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--gray-00);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-regular) 0 var(--spacing-regular);
}

/* Styles for search bar */

.wrapper div {
  background-color: var(--white);
  border: 1px var(--gray-10) solid;
}

.wrapper div > input {
  color: var(--gray-neutral);
  font-size: 16px;
}

.wrapper div > input::placeholder {
  color: var(--gray-neutral);
}

/* Styles for search bar */

.tableContainer {
  margin: var(--spacing-regular) var(--spacing-regular) 0 var(--spacing-regular);
}

/* Styles for table */

/* Styles for table */

.wrapper h1 {
  font-size: 20px;
  color: var(--black);
  font-weight: 400;
}

@media (min-width: 480px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-regular);
  }
  /* Styles for search bar */
  .wrapper div {
    width: 280px;
    flex-direction: row;
    margin-top: 0;
  }
  /* Styles for search bar */
}
