.row {
  background-color: var(--white);
  height: 50px;
}

.addedBorder {
  border-bottom: 1px solid var(--gray-00);
}
.row img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.row td {
  text-align: center;
}

.row:last-child {
  border-radius: 10px;
}

.expandButton {
  border: none;
  outline: none;
  background: var(--white);
}

.expandedAnimation {
  animation: rotate180 0.5s forwards;
}

.errorFetchData {
  background-color: var(--white);
  width: 500%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.expandedDiv {
  background-color: var(--white);
  width: 300%;
  display: flex;
  flex-direction: column;
}

.expandedDiv div {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacing-regular);
}

@media (max-width: 480px) {
  .errorFetchData {
    width: 300%;
  }
}
